
*,
*::before,
*::after {
    box-sizing: border-box;
}
html {
    background-image: 
        linear-gradient(45deg, #39d6d68a, rgba(247, 67, 193, 0.863));
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.mycontainer {
    display: grid;
    height: 100vh;
    width: 95vw;
    grid-template-rows: 90px 90px 1fr 25px;
    grid-template-areas: 
    "myheader"
    "mymenu"
    "body"
    "myfooter"
}
/* Header */
.header-ul {
    background-color: rgba(0, 255, 255, 0.349);
    grid-area: myheader;
    display: grid;
    row-gap: 10px;
    column-gap: 5px;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 2fr 2fr;
    grid-template-areas: 
    "head-1 head-1"
    "head-2 head-3"
}
.head-1 {
    background-color: blue;
    grid-area: head-1;
    text-align: center;
    font-size: 75%;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.head-2 {
    background-color: red;
    grid-area: head-2;
    display: flex;
    align-items: center;
    justify-content: center;
}
.head-3 {
    background-color: blueviolet;   
    grid-area: head-3;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Header END */
.mymenu {
    background-color: blueviolet;
    grid-area: mymenu;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu-ul-2 {
    display: none;
}
.pc-ad {
    display: none;
}
/* BODY */
.body {
    display: grid;
    row-gap: 5px;
    width: 100%;
    grid-template-rows: 1fr 200px 1fr;
    grid-template-areas: 
    "mycontent mycontent"
    "myad myad"
    "mycontent-2 mycontent-2"
}
.mycontent {
    background-color: lightseagreen;
    grid-area: mycontent;
}
.myad {
    background-color: limegreen;
    grid-area: myad;
}
.mycontent-2 {
    background-color: lightskyblue;
    grid-area: mycontent-2;
}
.ad-img {
    object-fit: cover;
    width: 100%;
}
.ad-img-2 {
    display: none;
}
.slideshow {
    display: none;
}
/* BODY END */

.myfooter {
    background-color: lightsalmon;
    grid-area: myfooter;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}



/* 576 version ----------------------------------------------------------------------------------------------------------*/
@media (min-width: 576px) {
    .mycontainer {
        grid-template-columns: 75px 1fr 125px;
        grid-template-rows: 50px 50px 2fr 100px 25px;
        height: 95vh;
        width: 98vw;
        grid-template-areas: 
        "myheader myheader myheader"
        "mymenu mymenu mymenu"
        "body body body"
        "slidebar slidebar slidebar"
        "myfooter myfooter myfooter"
    }
    .myheader {
        grid-area: myheader;
    }
    .mymenu {
        grid-area: mymenu;
    }
    .body {
        grid-area: body;
    }
    .slidebar {
        grid-area: slidebar;
    }
    .footer {
        grid-area: footer;
    }
.header-ul {
    background-color: rgba(0, 255, 255, 0.349);
    grid-area: myheader;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 40px;
    grid-template-areas: 
    "head-1 head-2 head-3"

}
.head-1 {
    background-color: blue;
    grid-area: head-1;
    display: flex;
    align-self: center;
    justify-content: center; 
}
.head-2 {
    background-color: red;
    grid-area: head-2;
    display: flex;
    align-items: center;
    justify-content: center;
}
.head-3 {
    background-color: green;
    grid-area: head-3;
    align-items: center;
    justify-content: center;
}
.mymenu {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "menu-ul-2"
    "menu-ul";
    gap: 10px 10px;  
}
.menu-ul-2 {
    background-color: pink;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu-ul {
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: center;
}
.body {
    display: grid;
    grid-template-columns: 1fr 10px;
    grid-template-rows: 1fr 2fr;
    row-gap: 5px;
    grid-template-areas:
    "mycontent mycontent myad"
    "mycontent-2 mycontent-2 mycontent-2"
}
.mycontent {
    grid-area: mycontent;
}
.myad {
    grid-area: myad;
}
.mycontent-2 {
    grid-area: mycontent-2;
}
.ad-img {
    display: none;
}
.ad-img-2 {
    display: flex;
    align-self: center;
    justify-self: center;
}
.slideshow {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: slidebar;
    background-color: red;
}
.pc-ad {
    display: none;
}
.footer {
    height: 10px;
}
}

/* 992 version ----------------------------------------------------------------------------------------------------------*/
@media (min-width: 992px) {
.mycontainer {
        grid-template-columns:100px 1fr 150px;
        grid-template-rows: 75px 1fr 2fr 1fr;
        height: 94vh;
        width: 99vw;
}
.myheader {
    grid-column: 1 / 4;
    grid-row: 1 / 2;   
}
.mymenu {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    display: flex;
}
.menu-nav {
    display: flex;
}
.menu-ul {
    align-self: flex-start;
    justify-self: flex-start;
}
.menu-ul-2 {
    align-self: flex-end;
    justify-self: flex-end;
}
.body {
    grid-column: 1 / 3;
    grid-row: 3 / 5;
    display: flex;
    flex-direction: row;
}

.slideshow {
    grid-column: 3 / 4;
    grid-row: 3 / 5;
}
.footer {
    grid-column: 1 / 4;
    grid-row: 4 / 5;
}
.myad {
    display: none;
}
.pc-ad {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    display: flex;
}



